In [0]:
data_new['GoalsAgainst'].value_counts()

1022    1
55      1
489     1
2624    1
744     1
253     1
633     1
116     1
182     1
3309    1
131     1
1834    1
310     1
65      1
117     1
1371    1
252     1
1050    1
3373    1
2180    1
1951    1
588     1
115     1
2152    1
410     1
1746    1
720     1
296     1
3469    1
992     1
       ..
3230    1
85      1
308     1
789     1
139     1
66      1
221     1
2188    1
2847    1
2492    1
1088    1
3700    1
662     1
295     1
1157    1
3140    1
2368    1
366     1
241     1
167     1
581     1
184     1
632     1
430     1
57      1
1763    1
183     1
3889    1
3114    1
0       1
Name: GoalsAgainst, Length: 61, dtype: int64

In [0]:
import numpy as np 
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
data = pd.read_csv("/content/drive/My Drive/GreatlakesAIML/Statistics/Laliga.csv")
print(data)

   Unnamed: 0           Unnamed: 1  ...    Unnamed: 18   Unnamed: 19
0         Pos                 Team  ...  Since/LastApp  BestPosition
1           1          Real Madrid  ...           1929             1
2           2            Barcelona  ...           1929             1
3           3      Atletico Madrid  ...        2002-03             1
4           4             Valencia  ...        1987-88             1
5           5      Athletic Bilbao  ...           1929             1
6           6              Sevilla  ...        2001-02             1
7           7             Espanyol  ...        1994-95             3
8           8        Real Sociedad  ...        2010-11             1
9           9             Zaragoza  ...        2012-13             2
10         10           Real Betis  ...        2015-16             1
11         11  Deportivo La Coruna  ...        2014-15             1
12         12           Celta Vigo  ...        2012-13             4
13         13           Valladolid  ...        2013-14             4
14         14     Racing Santander  ...        2011-12             2
15         15       Sporting Gijon  ...        2015-16             2
16         16              Osasuna  ...        2016-17             4
17         17               Malaga  ...        2008-09             4
18         18               Oviedo  ...        2000-01             3
19         19             Mallorca  ...        2012-13             3
20         20           Las Palmas  ...        2015-16             2
21         21           Villarreal  ...        2013-14             2
22         22              Granada  ...        2016-17             6
23         23       Rayo Vallecano  ...        2015-16             8
24         24                Elche  ...        2014-15             5
25         25               Getafe  ...        2015-16             6
26         26             Hercules  ...        2010-11             5
27         27             Tenerife  ...        2009-10             5
28         28               Murcia  ...        2007-08            11
29         29               Alaves  ...        2016-17             6
..        ...                  ...  ...            ...           ...
32         32             Sabadell  ...        1987-88             4
33         33                Cadiz  ...        2005-06            12
34         34             Logrones  ...        1996-97             7
35         35            Castellon  ...        1990-91             4
36         36             Albacete  ...        2004-05             7
37         37              Almeria  ...        2014-15             8
38         38              Cordoba  ...        2014-15             5
39         39           Compostela  ...        1997-98            10
40         40           Recreativo  ...        2008-09             8
41         41            Burgos CF  ...        1979-80            12
42         42           Pontevedra  ...        1969-70             7
43         43             Numancia  ...        2008-09            17
44         44                Eibar  ...        2014-15            10
45         45               Arenas  ...        1934-35             3
46         46          Real Burgos  ...        1992-93             9
47         47            Gimnastic  ...        2006-07             7
48         48          Extremadura  ...        1998-99            17
49         49               Merida  ...        1997-98            19
50         50             Alcoyano  ...        1950-51            10
51         51                 Jaen  ...        1957-58            14
52         52           Real Union  ...        1931-32             6
53         53           AD Almeria  ...        1980-81            10
54         54               Europa  ...        1930-31             8
55         55               Lleida  ...        1993-94            16
56         56              Leganes  ...        2016-17            17
57         57                Xerez  ...        2009-10            20
58         58               Condal  ...        1956-57            16
59         59      Atletico Tetuan  ...        1951-52            16
60         60     Cultural Leonesa  ...        1955-56            15
61         61               Girona  ...        2017-18             9

[62 rows x 20 columns]

In [0]:
data.dtypes

Unnamed: 0     object
Unnamed: 1     object
Unnamed: 2     object
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6     object
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
Unnamed: 10    object
Unnamed: 11    object
Unnamed: 12    object
Unnamed: 13    object
Unnamed: 14    object
Unnamed: 15    object
Unnamed: 16    object
Unnamed: 17    object
Unnamed: 18    object
Unnamed: 19    object
dtype: object

In [0]:
data_find = np.column_stack([data[col].str.contains(r"\-", na=False) for col in data])
data.loc[data_find.any(axis=1)]

   Unnamed: 0           Unnamed: 1  ...    Unnamed: 18   Unnamed: 19
0         Pos                 Team  ...  Since/LastApp  BestPosition
3           3      Atletico Madrid  ...        2002-03             1
4           4             Valencia  ...        1987-88             1
6           6              Sevilla  ...        2001-02             1
7           7             Espanyol  ...        1994-95             3
8           8        Real Sociedad  ...        2010-11             1
9           9             Zaragoza  ...        2012-13             2
10         10           Real Betis  ...        2015-16             1
11         11  Deportivo La Coruna  ...        2014-15             1
12         12           Celta Vigo  ...        2012-13             4
13         13           Valladolid  ...        2013-14             4
14         14     Racing Santander  ...        2011-12             2
15         15       Sporting Gijon  ...        2015-16             2
16         16              Osasuna  ...        2016-17             4
17         17               Malaga  ...        2008-09             4
18         18               Oviedo  ...        2000-01             3
19         19             Mallorca  ...        2012-13             3
20         20           Las Palmas  ...        2015-16             2
21         21           Villarreal  ...        2013-14             2
22         22              Granada  ...        2016-17             6
23         23       Rayo Vallecano  ...        2015-16             8
24         24                Elche  ...        2014-15             5
25         25               Getafe  ...        2015-16             6
26         26             Hercules  ...        2010-11             5
27         27             Tenerife  ...        2009-10             5
28         28               Murcia  ...        2007-08            11
29         29               Alaves  ...        2016-17             6
30         30              Levante  ...        2015-16             6
31         31            Salamanca  ...        1998-99             7
32         32             Sabadell  ...        1987-88             4
33         33                Cadiz  ...        2005-06            12
34         34             Logrones  ...        1996-97             7
35         35            Castellon  ...        1990-91             4
36         36             Albacete  ...        2004-05             7
37         37              Almeria  ...        2014-15             8
38         38              Cordoba  ...        2014-15             5
39         39           Compostela  ...        1997-98            10
40         40           Recreativo  ...        2008-09             8
41         41            Burgos CF  ...        1979-80            12
42         42           Pontevedra  ...        1969-70             7
43         43             Numancia  ...        2008-09            17
44         44                Eibar  ...        2014-15            10
45         45               Arenas  ...        1934-35             3
46         46          Real Burgos  ...        1992-93             9
47         47            Gimnastic  ...        2006-07             7
48         48          Extremadura  ...        1998-99            17
49         49               Merida  ...        1997-98            19
50         50             Alcoyano  ...        1950-51            10
51         51                 Jaen  ...        1957-58            14
52         52           Real Union  ...        1931-32             6
53         53           AD Almeria  ...        1980-81            10
54         54               Europa  ...        1930-31             8
55         55               Lleida  ...        1993-94            16
56         56              Leganes  ...        2016-17            17
57         57                Xerez  ...        2009-10            20
58         58               Condal  ...        1956-57            16
59         59      Atletico Tetuan  ...        1951-52            16
60         60     Cultural Leonesa  ...        1955-56            15
61         61               Girona  ...        2017-18             9

[59 rows x 20 columns]

In [0]:
data_replace=data.replace('-', 0)
print(data_replace)

   Unnamed: 0           Unnamed: 1  ...    Unnamed: 18   Unnamed: 19
0         Pos                 Team  ...  Since/LastApp  BestPosition
1           1          Real Madrid  ...           1929             1
2           2            Barcelona  ...           1929             1
3           3      Atletico Madrid  ...        2002-03             1
4           4             Valencia  ...        1987-88             1
5           5      Athletic Bilbao  ...           1929             1
6           6              Sevilla  ...        2001-02             1
7           7             Espanyol  ...        1994-95             3
8           8        Real Sociedad  ...        2010-11             1
9           9             Zaragoza  ...        2012-13             2
10         10           Real Betis  ...        2015-16             1
11         11  Deportivo La Coruna  ...        2014-15             1
12         12           Celta Vigo  ...        2012-13             4
13         13           Valladolid  ...        2013-14             4
14         14     Racing Santander  ...        2011-12             2
15         15       Sporting Gijon  ...        2015-16             2
16         16              Osasuna  ...        2016-17             4
17         17               Malaga  ...        2008-09             4
18         18               Oviedo  ...        2000-01             3
19         19             Mallorca  ...        2012-13             3
20         20           Las Palmas  ...        2015-16             2
21         21           Villarreal  ...        2013-14             2
22         22              Granada  ...        2016-17             6
23         23       Rayo Vallecano  ...        2015-16             8
24         24                Elche  ...        2014-15             5
25         25               Getafe  ...        2015-16             6
26         26             Hercules  ...        2010-11             5
27         27             Tenerife  ...        2009-10             5
28         28               Murcia  ...        2007-08            11
29         29               Alaves  ...        2016-17             6
..        ...                  ...  ...            ...           ...
32         32             Sabadell  ...        1987-88             4
33         33                Cadiz  ...        2005-06            12
34         34             Logrones  ...        1996-97             7
35         35            Castellon  ...        1990-91             4
36         36             Albacete  ...        2004-05             7
37         37              Almeria  ...        2014-15             8
38         38              Cordoba  ...        2014-15             5
39         39           Compostela  ...        1997-98            10
40         40           Recreativo  ...        2008-09             8
41         41            Burgos CF  ...        1979-80            12
42         42           Pontevedra  ...        1969-70             7
43         43             Numancia  ...        2008-09            17
44         44                Eibar  ...        2014-15            10
45         45               Arenas  ...        1934-35             3
46         46          Real Burgos  ...        1992-93             9
47         47            Gimnastic  ...        2006-07             7
48         48          Extremadura  ...        1998-99            17
49         49               Merida  ...        1997-98            19
50         50             Alcoyano  ...        1950-51            10
51         51                 Jaen  ...        1957-58            14
52         52           Real Union  ...        1931-32             6
53         53           AD Almeria  ...        1980-81            10
54         54               Europa  ...        1930-31             8
55         55               Lleida  ...        1993-94            16
56         56              Leganes  ...        2016-17            17
57         57                Xerez  ...        2009-10            20
58         58               Condal  ...        1956-57            16
59         59      Atletico Tetuan  ...        1951-52            16
60         60     Cultural Leonesa  ...        1955-56            15
61         61               Girona  ...        2017-18             9

[62 rows x 20 columns]

In [0]:
data_find = np.column_stack([data_replace[col].str.contains(r"\-", na=False) for col in data_replace])
data_replace.loc[data_find.any(axis=1)]

   Unnamed: 0           Unnamed: 1  ...    Unnamed: 18   Unnamed: 19
0         Pos                 Team  ...  Since/LastApp  BestPosition
3           3      Atletico Madrid  ...        2002-03             1
4           4             Valencia  ...        1987-88             1
6           6              Sevilla  ...        2001-02             1
7           7             Espanyol  ...        1994-95             3
8           8        Real Sociedad  ...        2010-11             1
9           9             Zaragoza  ...        2012-13             2
10         10           Real Betis  ...        2015-16             1
11         11  Deportivo La Coruna  ...        2014-15             1
12         12           Celta Vigo  ...        2012-13             4
13         13           Valladolid  ...        2013-14             4
14         14     Racing Santander  ...        2011-12             2
15         15       Sporting Gijon  ...        2015-16             2
16         16              Osasuna  ...        2016-17             4
17         17               Malaga  ...        2008-09             4
18         18               Oviedo  ...        2000-01             3
19         19             Mallorca  ...        2012-13             3
20         20           Las Palmas  ...        2015-16             2
21         21           Villarreal  ...        2013-14             2
22         22              Granada  ...        2016-17             6
23         23       Rayo Vallecano  ...        2015-16             8
24         24                Elche  ...        2014-15             5
25         25               Getafe  ...        2015-16             6
26         26             Hercules  ...        2010-11             5
27         27             Tenerife  ...        2009-10             5
28         28               Murcia  ...        2007-08            11
29         29               Alaves  ...        2016-17             6
30         30              Levante  ...        2015-16             6
31         31            Salamanca  ...        1998-99             7
32         32             Sabadell  ...        1987-88             4
33         33                Cadiz  ...        2005-06            12
34         34             Logrones  ...        1996-97             7
35         35            Castellon  ...        1990-91             4
36         36             Albacete  ...        2004-05             7
37         37              Almeria  ...        2014-15             8
38         38              Cordoba  ...        2014-15             5
39         39           Compostela  ...        1997-98            10
40         40           Recreativo  ...        2008-09             8
41         41            Burgos CF  ...        1979-80            12
42         42           Pontevedra  ...        1969-70             7
43         43             Numancia  ...        2008-09            17
44         44                Eibar  ...        2014-15            10
45         45               Arenas  ...        1934-35             3
46         46          Real Burgos  ...        1992-93             9
47         47            Gimnastic  ...        2006-07             7
48         48          Extremadura  ...        1998-99            17
49         49               Merida  ...        1997-98            19
50         50             Alcoyano  ...        1950-51            10
51         51                 Jaen  ...        1957-58            14
52         52           Real Union  ...        1931-32             6
53         53           AD Almeria  ...        1980-81            10
54         54               Europa  ...        1930-31             8
55         55               Lleida  ...        1993-94            16
56         56              Leganes  ...        2016-17            17
57         57                Xerez  ...        2009-10            20
58         58               Condal  ...        1956-57            16
59         59      Atletico Tetuan  ...        1951-52            16
60         60     Cultural Leonesa  ...        1955-56            15
61         61               Girona  ...        2017-18             9

[59 rows x 20 columns]

In [0]:
new_header = data_replace.iloc[0]
data_new = data_replace[1:]
data_new.columns = new_header
print(data_new)

0  Pos                 Team Seasons  ...    Debut Since/LastApp BestPosition
1    1          Real Madrid      86  ...     1929          1929            1
2    2            Barcelona      86  ...     1929          1929            1
3    3      Atletico Madrid      80  ...     1929       2002-03            1
4    4             Valencia      82  ...  1931-32       1987-88            1
5    5      Athletic Bilbao      86  ...     1929          1929            1
6    6              Sevilla      73  ...  1934-35       2001-02            1
7    7             Espanyol      82  ...     1929       1994-95            3
8    8        Real Sociedad      70  ...     1929       2010-11            1
9    9             Zaragoza      58  ...  1939-40       2012-13            2
10  10           Real Betis      51  ...  1932-33       2015-16            1
11  11  Deportivo La Coruna      45  ...  1941-42       2014-15            1
12  12           Celta Vigo      51  ...  1939-40       2012-13            4
13  13           Valladolid      42  ...  1948-49       2013-14            4
14  14     Racing Santander      44  ...     1929       2011-12            2
15  15       Sporting Gijon      43  ...  1944-45       2015-16            2
16  16              Osasuna      37  ...  1935-36       2016-17            4
17  17               Malaga      36  ...  1949-50       2008-09            4
18  18               Oviedo      38  ...  1933-34       2000-01            3
19  19             Mallorca      27  ...  1960-61       2012-13            3
20  20           Las Palmas      33  ...  1951-52       2015-16            2
21  21           Villarreal      17  ...  1998-99       2013-14            2
22  22              Granada      23  ...  1941-42       2016-17            6
23  23       Rayo Vallecano      17  ...  1977-78       2015-16            8
24  24                Elche      21  ...  1959-60       2014-15            5
25  25               Getafe      12  ...  2004-05       2015-16            6
26  26             Hercules      20  ...  1935-36       2010-11            5
27  27             Tenerife      13  ...  1961-62       2009-10            5
28  28               Murcia      18  ...  1940-41       2007-08           11
29  29               Alaves      12  ...  1930-31       2016-17            6
30  30              Levante      11  ...  1963-64       2015-16            6
..  ..                  ...     ...  ...      ...           ...          ...
32  32             Sabadell      14  ...  1943-44       1987-88            4
33  33                Cadiz      12  ...  1977-78       2005-06           12
34  34             Logrones       9  ...  1987-88       1996-97            7
35  35            Castellon      11  ...  1941-42       1990-91            4
36  36             Albacete       7  ...  1991-92       2004-05            7
37  37              Almeria       6  ...  2007-08       2014-15            8
38  38              Cordoba       9  ...  1962-63       2014-15            5
39  39           Compostela       4  ...  1994-95       1997-98           10
40  40           Recreativo       5  ...  1978-79       2008-09            8
41  41            Burgos CF       6  ...  1971-72       1979-80           12
42  42           Pontevedra       6  ...  1963-64       1969-70            7
43  43             Numancia       4  ...  1999-00       2008-09           17
44  44                Eibar       3  ...  2014-15       2014-15           10
45  45               Arenas       7  ...     1929       1934-35            3
46  46          Real Burgos       3  ...  1990-91       1992-93            9
47  47            Gimnastic       4  ...  1947-48       2006-07            7
48  48          Extremadura       2  ...  1996-97       1998-99           17
49  49               Merida       2  ...  1995-96       1997-98           19
50  50             Alcoyano       4  ...  1945-46       1950-51           10
51  51                 Jaen       3  ...  1953-54       1957-58           14
52  52           Real Union       4  ...     1929       1931-32            6
53  53           AD Almeria       2  ...  1979-80       1980-81           10
54  54               Europa       3  ...     1929       1930-31            8
55  55               Lleida       2  ...  1950-51       1993-94           16
56  56              Leganes       1  ...  2016-17       2016-17           17
57  57                Xerez       1  ...  2009-10       2009-10           20
58  58               Condal       1  ...  1956-57       1956-57           16
59  59      Atletico Tetuan       1  ...  1951-52       1951-52           16
60  60     Cultural Leonesa       1  ...  1955-56       1955-56           15
61  61               Girona       1  ...  2017-18       2017-18            9

[61 rows x 20 columns]

In [0]:
data_new[['debuts','debute']] = data_new.Debut.str.split("-",expand=True)
print(data_new)

0  Pos                 Team Seasons  ... BestPosition debuts debute
1    1          Real Madrid      86  ...            1   1929   None
2    2            Barcelona      86  ...            1   1929   None
3    3      Atletico Madrid      80  ...            1   1929   None
4    4             Valencia      82  ...            1   1931     32
5    5      Athletic Bilbao      86  ...            1   1929   None
6    6              Sevilla      73  ...            1   1934     35
7    7             Espanyol      82  ...            3   1929   None
8    8        Real Sociedad      70  ...            1   1929   None
9    9             Zaragoza      58  ...            2   1939     40
10  10           Real Betis      51  ...            1   1932     33
11  11  Deportivo La Coruna      45  ...            1   1941     42
12  12           Celta Vigo      51  ...            4   1939     40
13  13           Valladolid      42  ...            4   1948     49
14  14     Racing Santander      44  ...            2   1929   None
15  15       Sporting Gijon      43  ...            2   1944     45
16  16              Osasuna      37  ...            4   1935     36
17  17               Malaga      36  ...            4   1949     50
18  18               Oviedo      38  ...            3   1933     34
19  19             Mallorca      27  ...            3   1960     61
20  20           Las Palmas      33  ...            2   1951     52
21  21           Villarreal      17  ...            2   1998     99
22  22              Granada      23  ...            6   1941     42
23  23       Rayo Vallecano      17  ...            8   1977     78
24  24                Elche      21  ...            5   1959     60
25  25               Getafe      12  ...            6   2004     05
26  26             Hercules      20  ...            5   1935     36
27  27             Tenerife      13  ...            5   1961     62
28  28               Murcia      18  ...           11   1940     41
29  29               Alaves      12  ...            6   1930     31
30  30              Levante      11  ...            6   1963     64
..  ..                  ...     ...  ...          ...    ...    ...
32  32             Sabadell      14  ...            4   1943     44
33  33                Cadiz      12  ...           12   1977     78
34  34             Logrones       9  ...            7   1987     88
35  35            Castellon      11  ...            4   1941     42
36  36             Albacete       7  ...            7   1991     92
37  37              Almeria       6  ...            8   2007     08
38  38              Cordoba       9  ...            5   1962     63
39  39           Compostela       4  ...           10   1994     95
40  40           Recreativo       5  ...            8   1978     79
41  41            Burgos CF       6  ...           12   1971     72
42  42           Pontevedra       6  ...            7   1963     64
43  43             Numancia       4  ...           17   1999     00
44  44                Eibar       3  ...           10   2014     15
45  45               Arenas       7  ...            3   1929   None
46  46          Real Burgos       3  ...            9   1990     91
47  47            Gimnastic       4  ...            7   1947     48
48  48          Extremadura       2  ...           17   1996     97
49  49               Merida       2  ...           19   1995     96
50  50             Alcoyano       4  ...           10   1945     46
51  51                 Jaen       3  ...           14   1953     54
52  52           Real Union       4  ...            6   1929   None
53  53           AD Almeria       2  ...           10   1979     80
54  54               Europa       3  ...            8   1929   None
55  55               Lleida       2  ...           16   1950     51
56  56              Leganes       1  ...           17   2016     17
57  57                Xerez       1  ...           20   2009     10
58  58               Condal       1  ...           16   1956     57
59  59      Atletico Tetuan       1  ...           16   1951     52
60  60     Cultural Leonesa       1  ...           15   1955     56
61  61               Girona       1  ...            9   2017     18

[61 rows x 22 columns]

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [0]:
data_new.dtypes

0
Pos              object
Team             object
Seasons          object
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition     object
debuts           object
debute           object
dtype: object

In [0]:
data_new["debuts"] = pd.to_numeric(data_new["debuts"])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
data_new.dtypes

0
Pos              object
Team             object
Seasons          object
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition     object
debuts            int64
debute           object
dtype: object

In [0]:
data_new["debute"] = pd.to_numeric(data_new["debute"])
data_new.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0
Pos               object
Team              object
Seasons           object
Points            object
GamesPlayed       object
GamesWon          object
GamesDrawn        object
GamesLost         object
GoalsFor          object
GoalsAgainst      object
Champion          object
Runner-up         object
Third             object
Fourth            object
Fifth             object
Sixth             object
T                 object
Debut             object
Since/LastApp     object
BestPosition      object
debuts             int64
debute           float64
dtype: object

In [0]:
data_1930_1980 = data_new[data_new['debuts']==1930]
print(data_1930_1980)

0  Pos    Team Seasons Points  ... Since/LastApp BestPosition debuts debute
29  29  Alaves      12    421  ...       2016-17            6   1930   31.0

[1 rows x 22 columns]

In [0]:
data_new.loc[(data_new['debuts'] > 1930) & (data_new['debute'] < 1980)]

0  Pos                 Team Seasons  ... BestPosition debuts debute
4    4             Valencia      82  ...            1   1931   32.0
6    6              Sevilla      73  ...            1   1934   35.0
9    9             Zaragoza      58  ...            2   1939   40.0
10  10           Real Betis      51  ...            1   1932   33.0
11  11  Deportivo La Coruna      45  ...            1   1941   42.0
12  12           Celta Vigo      51  ...            4   1939   40.0
13  13           Valladolid      42  ...            4   1948   49.0
15  15       Sporting Gijon      43  ...            2   1944   45.0
16  16              Osasuna      37  ...            4   1935   36.0
17  17               Malaga      36  ...            4   1949   50.0
18  18               Oviedo      38  ...            3   1933   34.0
19  19             Mallorca      27  ...            3   1960   61.0
20  20           Las Palmas      33  ...            2   1951   52.0
21  21           Villarreal      17  ...            2   1998   99.0
22  22              Granada      23  ...            6   1941   42.0
23  23       Rayo Vallecano      17  ...            8   1977   78.0
24  24                Elche      21  ...            5   1959   60.0
25  25               Getafe      12  ...            6   2004    5.0
26  26             Hercules      20  ...            5   1935   36.0
27  27             Tenerife      13  ...            5   1961   62.0
28  28               Murcia      18  ...           11   1940   41.0
30  30              Levante      11  ...            6   1963   64.0
31  31            Salamanca      12  ...            7   1974   75.0
32  32             Sabadell      14  ...            4   1943   44.0
33  33                Cadiz      12  ...           12   1977   78.0
34  34             Logrones       9  ...            7   1987   88.0
35  35            Castellon      11  ...            4   1941   42.0
36  36             Albacete       7  ...            7   1991   92.0
37  37              Almeria       6  ...            8   2007    8.0
38  38              Cordoba       9  ...            5   1962   63.0
39  39           Compostela       4  ...           10   1994   95.0
40  40           Recreativo       5  ...            8   1978   79.0
41  41            Burgos CF       6  ...           12   1971   72.0
42  42           Pontevedra       6  ...            7   1963   64.0
43  43             Numancia       4  ...           17   1999    0.0
44  44                Eibar       3  ...           10   2014   15.0
46  46          Real Burgos       3  ...            9   1990   91.0
47  47            Gimnastic       4  ...            7   1947   48.0
48  48          Extremadura       2  ...           17   1996   97.0
49  49               Merida       2  ...           19   1995   96.0
50  50             Alcoyano       4  ...           10   1945   46.0
51  51                 Jaen       3  ...           14   1953   54.0
53  53           AD Almeria       2  ...           10   1979   80.0
55  55               Lleida       2  ...           16   1950   51.0
56  56              Leganes       1  ...           17   2016   17.0
57  57                Xerez       1  ...           20   2009   10.0
58  58               Condal       1  ...           16   1956   57.0
59  59      Atletico Tetuan       1  ...           16   1951   52.0
60  60     Cultural Leonesa       1  ...           15   1955   56.0
61  61               Girona       1  ...            9   2017   18.0

[50 rows x 22 columns]

In [0]:
data_new["Points"] = pd.to_numeric(data_new["Points"])
data_new.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0
Pos               object
Team              object
Seasons           object
Points             int64
GamesPlayed       object
GamesWon          object
GamesDrawn        object
GamesLost         object
GoalsFor          object
GoalsAgainst      object
Champion          object
Runner-up         object
Third             object
Fourth            object
Fifth             object
Sixth             object
T                 object
Debut             object
Since/LastApp     object
BestPosition      object
debuts             int64
debute           float64
dtype: object

In [0]:
data_new.sort_values("Points", inplace = True,ascending=True) 
data[:6]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  Unnamed: 0       Unnamed: 1  ...    Unnamed: 18   Unnamed: 19
0        Pos             Team  ...  Since/LastApp  BestPosition
1          1      Real Madrid  ...           1929             1
2          2        Barcelona  ...           1929             1
3          3  Atletico Madrid  ...        2002-03             1
4          4         Valencia  ...        1987-88             1
5          5  Athletic Bilbao  ...           1929             1

[6 rows x 20 columns]

In [0]:
data_new2 = data_new[["Team","Points"]]
data_new2[:6]

0               Team  Points
61            Girona       0
60  Cultural Leonesa      14
59   Atletico Tetuan      19
58            Condal      22
57             Xerez      34
56           Leganes      35

In [0]:
def Goal_diff_count(GoalsFor):
  Goal_diff_count = GoalsFor - 0
  return(Goal_diff_count)
data_new['GoalsFor'].apply(Goal_diff_count)

TypeError: ignored

In [0]:
data_new["GoalsFor"] = pd.to_numeric(data_new["GoalsFor"])
data_new.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0
Pos               object
Team              object
Seasons           object
Points             int64
GamesPlayed       object
GamesWon          object
GamesDrawn        object
GamesLost         object
GoalsFor           int64
GoalsAgainst      object
Champion          object
Runner-up         object
Third             object
Fourth            object
Fifth             object
Sixth             object
T                 object
Debut             object
Since/LastApp     object
BestPosition      object
debuts             int64
debute           float64
dtype: object

In [0]:
data_new["GoalsAgainst"] = pd.to_numeric(data_new["GoalsAgainst"])
data_new.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0
Pos               object
Team              object
Seasons           object
Points             int64
GamesPlayed       object
GamesWon          object
GamesDrawn        object
GamesLost         object
GoalsFor           int64
GoalsAgainst       int64
Champion          object
Runner-up         object
Third             object
Fourth            object
Fifth             object
Sixth             object
T                 object
Debut             object
Since/LastApp     object
BestPosition      object
debuts             int64
debute           float64
dtype: object

In [0]:
def Goal_diff_count(GoalsFor,GoalsAgainst):
  Goal_diff_count = GoalsFor - GoalsAgainst
  return(Goal_diff_count)
data_new['NewCol'] = data_new.apply(lambda x: Goal_diff_count(x['GoalsFor'], x['GoalsAgainst']), axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [0]:
data_new.dtypes

0
Pos               object
Team              object
Seasons           object
Points             int64
GamesPlayed       object
GamesWon          object
GamesDrawn        object
GamesLost         object
GoalsFor           int64
GoalsAgainst       int64
Champion          object
Runner-up         object
Third             object
Fourth            object
Fifth             object
Sixth             object
T                 object
Debut             object
Since/LastApp     object
BestPosition      object
debuts             int64
debute           float64
NewCol             int64
dtype: object

In [0]:
data_new["NewCol"]

61       0
60     -31
59     -34
58     -20
57     -28
56     -19
55    -112
54     -34
53     -45
52     -31
51     -62
50    -107
49     -45
48     -55
47    -114
46     -38
45     -81
44     -28
43     -98
42     -56
41     -94
40     -94
39     -42
38    -145
37    -122
36     -90
35    -169
34    -198
33    -269
32    -228
      ...
30    -202
29    -165
28    -385
27    -125
26    -334
25    -113
24    -272
23    -328
22    -338
21     103
20    -399
19    -189
18    -309
17    -342
16    -334
15    -399
14    -525
13    -413
12    -346
11    -136
10    -333
9     -164
8       -2
7     -280
6      307
5      931
4      929
3     1225
2     2786
1     2807
Name: NewCol, Length: 61, dtype: int64

In [0]:
data_new["GamesWon"] = pd.to_numeric(data_new["GamesWon"])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
data_new["GamesPlayed"] = pd.to_numeric(data_new["GamesPlayed"])
data_new.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0
Pos               object
Team              object
Seasons           object
Points             int64
GamesPlayed        int64
GamesWon           int64
GamesDrawn        object
GamesLost         object
GoalsFor           int64
GoalsAgainst       int64
Champion          object
Runner-up         object
Third             object
Fourth            object
Fifth             object
Sixth             object
T                 object
Debut             object
Since/LastApp     object
BestPosition      object
debuts             int64
debute           float64
NewCol             int64
dtype: object

In [0]:
def win_percent_count(GamesWon,GamesPlayed):
  if GamesWon !=0 and GamesPlayed !=0:
    Per_Winning = (GamesWon / GamesPlayed)*100
  else:
    Per_Winning = 0
  return(Per_Winning)
data_new['Winning Percent'] = data_new.apply(lambda x: win_percent_count(x['GamesWon'], x['GamesPlayed']), axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [0]:
data_new["Winning Percent"]

61     0.000000
60    16.666667
59    23.333333
58    23.333333
57    21.052632
56    21.052632
55    19.117647
54    33.333333
53    25.000000
52    29.166667
51    32.222222
50    27.777778
49    23.750000
48    25.000000
47    29.310345
46    22.807018
45    33.076923
44    30.701754
43    24.342105
42    29.444444
41    28.921569
40    26.881720
39    32.500000
38    29.078014
37    27.192982
36    28.148148
35    30.838323
34    27.745665
33    23.214286
32    30.281690
        ...
30    28.109453
29    32.894737
28    24.744027
27    31.376518
26    29.299363
25    32.236842
24    29.941003
23    28.987730
22    29.380054
21    41.176471
20    33.485401
19    33.704453
18    34.228188
17    31.075697
16    32.321700
15    32.304527
14    31.722689
13    31.582538
12    34.511190
11    36.797386
10    35.069444
9     35.146022
8     37.532580
7     36.100533
6     41.112957
5     43.772629
4     44.557057
3     47.475134
2     57.241130
1     59.630702
Name: Winning Percent, Length: 61, dtype: float64

In [0]:
data_new[:10]

0  Pos              Team Seasons  ...  debute  NewCol  Winning Percent
61  61            Girona       1  ...    18.0       0         0.000000
60  60  Cultural Leonesa       1  ...    56.0     -31        16.666667
59  59   Atletico Tetuan       1  ...    52.0     -34        23.333333
58  58            Condal       1  ...    57.0     -20        23.333333
57  57             Xerez       1  ...    10.0     -28        21.052632
56  56           Leganes       1  ...    17.0     -19        21.052632
55  55            Lleida       2  ...    51.0    -112        19.117647
54  54            Europa       3  ...     NaN     -34        33.333333
53  53        AD Almeria       2  ...    80.0     -45        25.000000
52  52        Real Union       4  ...     NaN     -31        29.166667

[10 rows x 24 columns]

In [0]:
data_new["BestPosition"] = pd.to_numeric(data_new["BestPosition"])
data_new["Points"] = pd.to_numeric(data_new["Points"])
data_new.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
Pos                 object
Team                object
Seasons             object
Points               int64
GamesPlayed          int64
GamesWon             int64
GamesDrawn          object
GamesLost           object
GoalsFor             int64
GoalsAgainst         int64
Champion            object
Runner-up           object
Third               object
Fourth              object
Fifth               object
Sixth               object
T                   object
Debut               object
Since/LastApp       object
BestPosition         int64
debuts               int64
debute             float64
NewCol               int64
Winning Percent    float64
dtype: object

In [0]:
data_new.groupby(['BestPosition']).agg({'Points':'sum'})

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34